---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="Gibsol | About">
  <main>
    <div class="container">
      <h1 class="main-title">About Me</h1>
      <h2 class="about-subtitle">Online</h2>
      <p class="about-paragraph">
        I have a good knowledge of
        <span class="highlight"> programming and problem solving.</span>
        I have experience working with technologies such as <span
          class="highlight"
        >
          JavaScript, React, Python, HTML/CSS, and C++.</span
        > Although I don't not everything, I am always interested in discovering
        new things for myself and am not afraid to have experience with technologies
        unfamiliar to me.
      </p>
      <h2 class="about-subtitle">Offline</h2>
      <p class="about-paragraph">
        In my free time I enjoy <span class="highlight">
          self-studying, playing musical instruments, and learning new languages
          and cultures.</span
        >
      </p>
      <div class="buttons">
        <Button link="/" body="Home" />
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 2rem;
    max-width: 100ch;
  }
  .highlight {
    font-weight: 900;
  }
  .main-title {
    text-align: center;
    color: #fff;
    font-size: 52px;
    font-style: italic;
    font-weight: 800;
    margin: 0;
  }
  @media (max-width: 768px) {
    .main-title {
      text-align: left;
      font-size: 42px;
    }
  }
  .main-about {
    color: #fb2576;
    font-size: 25px;
  }
  .about-subtitle {
    color: #fb2576;
    font-style: italic;
    font-size: 35px;
  }
  .container {
  }
  .about-paragraph {
    color: #fff;
    font-size: 18px;
  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
</style>
