---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import GithubCorner from "../components/GithubCorner.astro";
import SocialButton from "../components/SocialButton.astro";
---

<Layout title="Gibsol / Home">
  <main>
    <GithubCorner link="https://github.com/gibsol/homepage" />
    <div class="container">
      <h1 class="main-title">Gibsol</h1>
      <p class="main-about">
        A full-stack developer from Estonia with a passion for creating and
        learning awesome stuff.
      </p>
      <div class="buttons">
        <Button link="/about" body="About Me" />
      </div>
      <div class="socials">
        <SocialButton icon="fa fa-github" link="https://github.com/gibsol" />
        <SocialButton icon="fa fa-twitter" link="https://twitter.com/GibsolP" />
        <SocialButton
          icon="fa fa-linkedin"
          link="https://www.linkedin.com/in/paul-bogatyr-65945524b/"
        />
        <SocialButton
          icon="fa fa-soundcloud"
          link="https://soundcloud.com/gibsol"
        />
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  .main-title {
    color: #fff;
    font-size: 72px !important;
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .main-about {
    color: #fb2576;
    font-size: 24pt;
  }
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  @media (max-width: 768px) {
    .container {
      height: 85vh;
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .socials {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
</style>
