---
export interface Props {
  body: string;
  link: string;
}

const { body, link } = Astro.props;
---

<a href={link} class="button">{body}</a>

<style>
  .button {
    border-radius: 20px;
    font-size: 12pt;
    font-weight: 700;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-top: 6px;
    border: 1px solid #fb2576;
    height: 25px;
    width: 120px;
    cursor: pointer;
    text-decoration: none;
    color: #fb2576;
    transition-duration: 0.4s;
    text-align: center;
  }
  .button:hover {
    color: #fff;
    background-color: #fb2576;
  }
</style>
