---
export interface Props {
  icon: string;
  link: string;
}

const { icon, link } = Astro.props;
---

<a href={link} class={icon}></a>

<style>
  a {
    color: #fb2576;
    border-radius: 50%;
    padding: 8px;
    text-decoration: none;
    width: 30px;
    font-size: 25px !important;
    transition-duration: 0.4s;
  }
  a:hover {
    color: #fff;
  }
</style>
